@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(210, 210, 210);
  color: rgb(62, 62, 62);
  font-family: "Pixelify Sans", sans-serif;
}

#container {
  margin: 3em auto;
  width: 70%;
  text-align: center;
	max-width: 500px;
  outline-color: rgb(62, 62, 62);
  outline-style: solid;
  outline-width: 1px;
  outline-offset: 0;
  padding: 2rem;
}

h1 {
   font-family: "Jersey 15", sans-serif;

}

#visitor-counter {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 16px;
  text-align: center;
  font-size: 14px;
  opacity: 0.9;
  padding: 0 16px;
  max-width: 100vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}