name: Deploy to neocities

# only run on changes to main. Use main or master depending on whatever your default branch is called.
on:
  push:
    branches:
      - main
      - master

concurrency: # prevent concurrent deploys doing strange things
  group: deploy-to-neocities
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Prepare deploy directory
        run: |
          rm -rf public
          mkdir -p public
          rsync -av --delete \
            --exclude '.git/' \
            --exclude '.github/' \
            --exclude 'public/' \
            ./ public/

      - name: Deploy to neocities
        uses: bcomnes/deploy-to-neocities@v3
        with:
          api_key: ${{ secrets.NEOCITIES_API_TOKEN }}
          dist_dir: public
          cleanup: false
          neocities_supporter: false
          preview_before_deploy: true